# Pandas

### Homework

Before you begin, always remember to import the necessary libraries.

In [4]:
import numpy as np
import pandas as pd

#### Standard Exercises

1. Given the follwing dictionary `sales_dict`, create a new `pandas` DataFrame from it and assign it to an object named `sales`. Show the `sales` DataFrame.

In [5]:
# do not delete this cell
sales_dict = {'categories': ['Goods', 'Services', 'Experiences'],
              'units_sold': [140, 215, 95],
              'total_revenue': [8400, 5375, 14250],
              'cost_per_unit': [35, 10, 100]}

In [6]:
sales = pd.DataFrame(sales_dict)
print(sales)

    categories  units_sold  total_revenue  cost_per_unit
0        Goods         140           8400             35
1     Services         215           5375             10
2  Experiences          95          14250            100

2. In the cells below show the following features of the `sales` DataFrame: 

- the object's data type
- the shape
- the column's data type

In [8]:
print(type(sales))

<class 'pandas.core.frame.DataFrame'>

In [9]:
print(sales.shape)

(3, 4)

In [10]:
print(sales.dtypes)

categories       object
units_sold        int64
total_revenue     int64
cost_per_unit     int64
dtype: object

3. Calculate the total number of `units_sold` across all categories

In [15]:
sum_units_sold = sum(sales["units_sold"])
print(sum_units_sold)

450

4. Add a new column to the DataFrame that multiplies `units_sold` by `cost_per_unit` and call it `total_cost`.

In [16]:
sales["total_cost"] = sales["cost_per_unit"] * sales["units_sold"]
print(sales)

    categories  units_sold  total_revenue  cost_per_unit  total_cost
0        Goods         140           8400             35        4900
1     Services         215           5375             10        2150
2  Experiences          95          14250            100        9500

5. Add another column called `total_margin` where you show revenues net of costs. Then sort the dataset in descending order of `total_margin`. Which category generated the highest margins?

In [20]:
sales["total_margin"] = sales["total_revenue"] - sales["total_cost"]
sales.sort_values("total_margin", ascending=False)

,categories,units_sold,total_revenue,cost_per_unit,total_cost,total_margin
2,Experiences,95,14250,100,9500,4750
0,Goods,140,8400,35,4900,3500
1,Services,215,5375,10,2150,3225

6. Load the `tips.csv` dataset (read a description of this dataset [here](https://vincentarelbundock.github.io/Rdatasets/doc/reshape2/tips.html)) from the `data` folder, assign it to an object called `tips` and show it to the screen.

In [21]:
tips = pd.read_csv("./data/tips.csv")
print(tips.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

7. How many observations there are for each table `sex`?

In [23]:
print(tips["sex"].info())

<class 'pandas.core.series.Series'>
RangeIndex: 244 entries, 0 to 243
Series name: sex
Non-Null Count  Dtype
--------------  -----
244 non-null    object
dtypes: object(1)
memory usage: 2.0+ KB
None

8. Calculate the average tip amount for males and females. Who tips the most?

In [35]:
# male tips
male_tips = tips[tips["sex"] == "Male"]
print(np.average(male_tips["tip"]))

3.0896178343949043

In [27]:
# female tips
female_tips = tips[tips["sex"] == "Female"]["tip"]
print(np.average(female_tips))

2.8334482758620685

9. The amount of a tip will change depending on the total amount spent for the meal, so we should look at relative values, not absolute. Create a new variable `tip_pct` that calculates the percentage of the tip relative to the total bill amount.

In [39]:
tips["tip_pct"] = tips["tip"] / tips["total_bill"] * 100

10. Calculate the average tip percentage for males and females. Who tips the most? Think about this inversion of outcome, what does it tell you?

In [40]:
# male tips
male_tips = tips[tips["sex"] == "Male"]
print(np.average(male_tips["tip_pct"]))

15.765054700429742

In [41]:
# female tips
female_tips = tips[tips["sex"] == "Female"]
print(np.average(female_tips["tip_pct"]))

16.649073632892478

If you want <font color='red'>**to exercise more**</font> on pandas Series and DataFrames, check out [these 101 exercises](https://www.machinelearningplus.com/python/101-pandas-exercises-python/) with (hidden) solutions *(note: the first exersises are on series, then they move to DataFrames and exersises on `.read_csv()` start from #38. Also, note that we haven't covered all of those topics yet, but if you want, you're encouraged to explore them.)*

#### Advanced Exercises

Let's reload the Google Analytics dataset that we saw in class and call it `ga` for brevity:

In [79]:
ga = pd.read_csv("data/GA Paid Search Traffic.csv", skiprows=[0,1,2,3,4,5,8], nrows=9)
ga

,Keyword,Users,New Users,Sessions,Bounce Rate,Pages/Session,Avg. Session Duration,E-commerce Conversion Rate,Transactions,Revenue
0,Google Merchandise Store,"1,051",753,"1,455",27.29%,5.62,00:03:41,0.34%,5,US$256.96
1,google merch,103,82,145,28.28%,6.04,00:03:29,2.07%,3,US$86.09
2,google backpack,95,68,121,40.50%,4.20,00:02:27,0.00%,0,US$0.00
3,Google Merchandise,93,54,147,28.57%,5.37,00:03:23,0.68%,1,US$79.98
4,Google Apparel,92,76,127,37.80%,4.97,00:03:11,0.79%,1,US$76.37
5,youtuber merch,78,76,82,78.05%,1.41,00:00:06,0.00%,0,US$0.00
6,Google Swag,63,57,80,41.25%,5.10,00:04:14,0.00%,0,US$0.00
7,google merch store,54,38,69,28.99%,5.09,00:02:33,0.00%,0,US$0.00
8,Google Clothing,39,36,49,40.82%,3.98,00:02:43,0.00%,0,US$0.00

In class we wrote the following statements to clean up the data:

In [ ]:
# DO NOT RUN

# remove comma & convert to int
ga_keywords["Users"] = ga_keywords["Users"].str.replace(',', '').astype('int64')
ga_keywords["Sessions"] = ga_keywords["Sessions"].str.replace(',', '').astype('int64')
# remove % & convert to float
ga_keywords["Bounce Rate"] = ga_keywords["Bounce Rate"].str.replace('%', '').astype('float64')
ga_keywords["E-commerce Conversion Rate"] = ga_keywords["E-commerce Conversion Rate"].str.replace('%', '').astype('float64')
# remuve US$ & convert to float
ga_keywords["Revenue"] = ga_keywords["Revenue"].str.replace('US$', '', regex=False).astype('float64')

1. Your task is to write three functions `clean_comma()`, `clean_pct()` and `clean_usd()` to solve each of the above cases, such that you can pass the `df["colname"]` as an argument to the function and reassign the result to the original column. Here are three examples of how you would use each function to clean a column: 
    - `ga["Users"] = clean_comma(ga["Users"])`
    - `ga["Bounce Rate"] = clean_pct(ga["Bounce Rate"])`
    - `ga["Revenue"] = clean_usd(ga["Revenue"])`

In [69]:
# define the function clean_comma()
def clean_comma(series):
	return series.str.replace(',', '').astype('int64')

In [70]:
# call the function clean_comma()
ga["Users"] = clean_comma(ga["Users"])
ga["Sessions"] = clean_comma(ga["Sessions"])

In [71]:
# define the function clean_pct()
def clean_pct(series):
	return series.str.replace('%', '').astype('float64')

In [72]:
# call the function clean_pct()
ga["Bounce Rate"] = clean_pct(ga["Bounce Rate"])
ga["E-commerce Conversion Rate"] = clean_pct(ga["E-commerce Conversion Rate"])

In [73]:
# define the function clean_usd()
def clean_usd(series):
	return series.str.replace('US$', '', regex=False).astype('float64')

In [74]:
# call the function clean_usd()
ga["Revenue"] = clean_usd(ga["Revenue"])

In [76]:
# now check that the columns in the ga DataFrame have actually changed
print(ga.head())

                    Keyword  Users  New Users  Sessions  Bounce Rate  \
0  Google Merchandise Store   1051        753      1455        27.29
1              google merch    103         82       145        28.28
2           google backpack     95         68       121        40.50
3        Google Merchandise     93         54       147        28.57
4            Google Apparel     92         76       127        37.80

   Pages/Session Avg. Session Duration  E-commerce Conversion Rate  \
0           5.62              00:03:41                        0.34
1           6.04              00:03:29                        2.07
2           4.20              00:02:27                        0.00
3           5.37              00:03:23                        0.68
4           4.97              00:03:11                        0.79

   Transactions  Revenue
0             5   256.96
1             3    86.09
2             0     0.00
3             1    79.98
4             1    76.37

2. Write one function `clean_function()` that can accomplish any of the three cases from the previous point by specifying extra parameters in the function call. Here are three examples of how you would use each function to clean a column: 
    - `ga["Users"] = clean_function(ga["Users"], ',', 'int64')`
    - `ga["Bounce Rate"] = clean_function(ga["Bounce Rate"], '%', 'float64')`
    - `ga["Revenue"] = clean_function(ga["Revenue"], 'US$', 'float64')`

In [83]:
# define the function clean_function()
def clean_function(series, string_to_remove, cast_as_type):
	return series.str.replace(string_to_remove, "").astype(cast_as_type)

In [90]:
ga = pd.read_csv("data/GA Paid Search Traffic.csv", skiprows=[0,1,2,3,4,5,8], nrows=9)
# call the function clean_function()
ga["Users"] = clean_function(ga["Users"], ',', 'int64')
ga["Sessions"] = clean_function(ga["Sessions"], ',', 'int64')
ga["Bounce Rate"] = clean_function(ga["Bounce Rate"], '%', 'float64')
ga["E-commerce Conversion Rate"] = clean_function(ga["E-commerce Conversion Rate"], '%', 'float64')
ga["Revenue"] = clean_function(ga["Revenue"], 'US$', 'float64')

In [91]:
# now check that the columns in the ga DataFrame have actually changed
print(ga.head())

                    Keyword  Users  New Users  Sessions  Bounce Rate  \
0  Google Merchandise Store   1051        753      1455        27.29
1              google merch    103         82       145        28.28
2           google backpack     95         68       121        40.50
3        Google Merchandise     93         54       147        28.57
4            Google Apparel     92         76       127        37.80

   Pages/Session Avg. Session Duration  E-commerce Conversion Rate  \
0           5.62              00:03:41                        0.34
1           6.04              00:03:29                        2.07
2           4.20              00:02:27                        0.00
3           5.37              00:03:23                        0.68
4           4.97              00:03:11                        0.79

   Transactions  Revenue
0             5   256.96
1             3    86.09
2             0     0.00
3             1    79.98
4             1    76.37